{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://i.imgur.com/tM9q41j.jpeg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Lior's open Blog</h1>
            <span class="subheading">A community to write down a collection of random ideas.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
{% if not current_user.is_authenticated %}
<h2 class="intro">Welcome! <br> Please log in or register to continue</h2>
<div class="text-center">
  <a class="btn btn-secondary" style="margin:1%;" href="{{url_for('login')}}">LOG IN</a>
  <a class="btn btn-info" style="margin:1%;" href="{{url_for('register')}}">REGISTER</a>
</div>
{% else %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in all_posts %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', post_id=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{post.author.name}}</a>
            on {{post.date}}
          {% if current_user.id == post.author_id or current_user.id == 1 %}
            <a href="{{url_for('delete_post', post_id=post.id) }}">✘ Delete</a>
          {% endif %}
          </p>
        </div>
        <hr>
        {% endfor %}


        <!-- New Post -->

        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Create New Post</a>
        </div>

      </div>
    </div>
  </div>
  <hr>
{% endif %}
{% include "footer.html" %}